################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

*.config
*.vsidx
*.suo
/.vs/CadastroDespesa/v17/DocumentLayout.json
/CadastroDespesa.Application/bin/Debug/net8.0/CadastroDespesa.Application.deps.json
*.dll
*.pdb
*.Up2Date
/CadastroDespesa.Dominio/bin/Debug/net8.0/CadastroDespesa.Dominio.deps.json
/CadastroDespesa.Dominio/obj/Debug/net8.0/CadastroDespesa.Dominio.sourcelink.json
/CadastroDespesa.DTO/bin/Debug/net8.0/CadastroDespesa.DTO.deps.json
/CadastroDespesa.Application/obj/CadastroDespesa.Application.csproj.nuget.dgspec.json
/CadastroDespesa.Application/obj/CadastroDespesa.Application.csproj.nuget.g.props
/CadastroDespesa.Application/obj/CadastroDespesa.Application.csproj.nuget.g.targets
/CadastroDespesa.Application/obj/project.assets.json
/CadastroDespesa.Application/obj/project.nuget.cache
/CadastroDespesa.Dominio/obj/Debug/net8.0/CadastroDespesa.Dominio.AssemblyInfo.cs
/CadastroDespesa.Dominio/obj/Debug/net8.0/CadastroDespesa.Dominio.AssemblyInfoInputs.cache
/CadastroDespesa.Dominio/obj/Debug/net8.0/CadastroDespesa.Dominio.assets.cache
/CadastroDespesa.Dominio/obj/Debug/net8.0/CadastroDespesa.Dominio.csproj.BuildWithSkipAnalyzers
/CadastroDespesa.Dominio/obj/Debug/net8.0/CadastroDespesa.Dominio.csproj.CoreCompileInputs.cache
/CadastroDespesa.Dominio/obj/Debug/net8.0/CadastroDespesa.Dominio.csproj.FileListAbsolute.txt
/CadastroDespesa.Dominio/obj/Debug/net8.0/CadastroDespesa.Dominio.GeneratedMSBuildEditorConfig.editorconfig
/CadastroDespesa.Dominio/obj/CadastroDespesa.Dominio.csproj.nuget.dgspec.json
/CadastroDespesa.Dominio/obj/CadastroDespesa.Dominio.csproj.nuget.g.props
/CadastroDespesa.Dominio/obj/project.assets.json
/CadastroDespesa.Dominio/obj/project.nuget.cache
/CadastroDespesa.DTO/obj/Debug/net8.0/CadastroDespesa.DTO.AssemblyInfo.cs
/CadastroDespesa.DTO/obj/Debug/net8.0/CadastroDespesa.DTO.AssemblyInfoInputs.cache
/CadastroDespesa.DTO/obj/Debug/net8.0/CadastroDespesa.DTO.assets.cache
/CadastroDespesa.DTO/obj/Debug/net8.0/CadastroDespesa.DTO.csproj.BuildWithSkipAnalyzers
/CadastroDespesa.DTO/obj/Debug/net8.0/CadastroDespesa.DTO.csproj.CoreCompileInputs.cache
/CadastroDespesa.DTO/obj/Debug/net8.0/CadastroDespesa.DTO.csproj.FileListAbsolute.txt
/CadastroDespesa.DTO/obj/Debug/net8.0/CadastroDespesa.DTO.GeneratedMSBuildEditorConfig.editorconfig
/CadastroDespesa.DTO/obj/Debug/net8.0/CadastroDespesa.DTO.sourcelink.json
/CadastroDespesa.DTO/obj/CadastroDespesa.DTO.csproj.nuget.dgspec.json
/CadastroDespesa.DTO/obj/CadastroDespesa.DTO.csproj.nuget.g.props
/CadastroDespesa.DTO/obj/project.assets.json
/CadastroDespesa.DTO/obj/project.nuget.cache
/CadastroDespesa.Infra/bin/Debug/net8.0/CadastroDespesa.Infra.deps.json
/CadastroDespesa.Infra/bin/Debug/net8.0/CadastroDespesa.Infra.runtimeconfig.json
/CadastroDespesa.Infra/obj/CadastroDespesa.Infra.csproj.nuget.dgspec.json
/CadastroDespesa.Infra/obj/CadastroDespesa.Infra.csproj.nuget.g.props
/CadastroDespesa.Infra/obj/CadastroDespesa.Infra.csproj.nuget.g.targets
/CadastroDespesa.Infra/obj/Debug/net8.0/CadastroDespesa.Infra.AssemblyInfo.cs
/CadastroDespesa.Infra/obj/Debug/net8.0/CadastroDespesa.Infra.AssemblyInfoInputs.cache
/CadastroDespesa.Infra/obj/Debug/net8.0/CadastroDespesa.Infra.assets.cache
/CadastroDespesa.Infra/obj/Debug/net8.0/CadastroDespesa.Infra.csproj.AssemblyReference.cache
/CadastroDespesa.Infra/obj/Debug/net8.0/CadastroDespesa.Infra.csproj.BuildWithSkipAnalyzers
/CadastroDespesa.Infra/obj/Debug/net8.0/CadastroDespesa.Infra.csproj.CoreCompileInputs.cache
/CadastroDespesa.Infra/obj/Debug/net8.0/CadastroDespesa.Infra.csproj.FileListAbsolute.txt
/CadastroDespesa.Infra/obj/Debug/net8.0/CadastroDespesa.Infra.GeneratedMSBuildEditorConfig.editorconfig
/CadastroDespesa.Infra/obj/Debug/net8.0/CadastroDespesa.Infra.genruntimeconfig.cache
/CadastroDespesa.Infra/obj/Debug/net8.0/CadastroDespesa.Infra.sourcelink.json
/CadastroDespesa.Infra/obj/project.assets.json
/CadastroDespesa.Infra/obj/project.nuget.cache
/CadastroDespesa.IOC/bin/Debug/net8.0/CadastroDespesa.IOC.deps.json
/CadastroDespesa.IOC/obj/Debug/net8.0/CadastroDespesa.IOC.AssemblyInfo.cs
/CadastroDespesa.IOC/obj/Debug/net8.0/CadastroDespesa.IOC.AssemblyInfoInputs.cache
/CadastroDespesa.IOC/obj/Debug/net8.0/CadastroDespesa.IOC.assets.cache
/CadastroDespesa.IOC/obj/Debug/net8.0/CadastroDespesa.IOC.csproj.AssemblyReference.cache
/CadastroDespesa.IOC/obj/Debug/net8.0/CadastroDespesa.IOC.csproj.BuildWithSkipAnalyzers
/CadastroDespesa.IOC/obj/Debug/net8.0/CadastroDespesa.IOC.csproj.CoreCompileInputs.cache
/CadastroDespesa.IOC/obj/Debug/net8.0/CadastroDespesa.IOC.csproj.FileListAbsolute.txt
/CadastroDespesa.IOC/obj/Debug/net8.0/CadastroDespesa.IOC.GeneratedMSBuildEditorConfig.editorconfig
/CadastroDespesa.IOC/obj/Debug/net8.0/CadastroDespesa.IOC.sourcelink.json
/CadastroDespesa.IOC/obj/CadastroDespesa.IOC.csproj.nuget.dgspec.json
/CadastroDespesa.IOC/obj/CadastroDespesa.IOC.csproj.nuget.g.props
/CadastroDespesa.IOC/obj/CadastroDespesa.IOC.csproj.nuget.g.targets
/CadastroDespesa.IOC/obj/project.assets.json
/CadastroDespesa.IOC/obj/project.nuget.cache
/CadastroDespesa.Application/obj/Debug/net8.0/CadastroDespesa.Application.AssemblyInfo.cs
/CadastroDespesa.Application/obj/Debug/net8.0/CadastroDespesa.Application.AssemblyInfoInputs.cache
/CadastroDespesa.Application/obj/Debug/net8.0/CadastroDespesa.Application.assets.cache
/CadastroDespesa.Application/obj/Debug/net8.0/CadastroDespesa.Application.csproj.AssemblyReference.cache
/CadastroDespesa.Application/obj/Debug/net8.0/CadastroDespesa.Application.csproj.BuildWithSkipAnalyzers
/CadastroDespesa.Application/obj/Debug/net8.0/CadastroDespesa.Application.csproj.CoreCompileInputs.cache
/CadastroDespesa.Application/obj/Debug/net8.0/CadastroDespesa.Application.csproj.FileListAbsolute.txt
/CadastroDespesa.Application/obj/Debug/net8.0/CadastroDespesa.Application.GeneratedMSBuildEditorConfig.editorconfig
/CadastroDespesa.Application/obj/Debug/net8.0/CadastroDespesa.Application.sourcelink.json
/CadastroDespesa.Api/bin/Debug/net8.0/CadastroDespesa.Api.deps.json
/CadastroDespesa.Api/bin/Debug/net8.0/CadastroDespesa.Api.exe
/CadastroDespesa.Api/bin/Debug/net8.0/CadastroDespesa.Api.runtimeconfig.json
/CadastroDespesa.Api/obj/Debug/net8.0/staticwebassets/msbuild.build.CadastroDespesa.Api.props
/CadastroDespesa.Api/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.CadastroDespesa.Api.props
/CadastroDespesa.Api/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.CadastroDespesa.Api.props
/CadastroDespesa.Api/obj/Debug/net8.0/ApiEndpoints.json
/CadastroDespesa.Api/obj/Debug/net8.0/apphost.exe
/CadastroDespesa.Api/obj/Debug/net8.0/CadastroDespesa.Api.AssemblyInfo.cs
/CadastroDespesa.Api/obj/Debug/net8.0/CadastroDespesa.Api.AssemblyInfoInputs.cache
/CadastroDespesa.Api/obj/Debug/net8.0/CadastroDespesa.Api.assets.cache
/CadastroDespesa.Api/obj/Debug/net8.0/CadastroDespesa.Api.csproj.AssemblyReference.cache
/CadastroDespesa.Api/obj/Debug/net8.0/CadastroDespesa.Api.csproj.BuildWithSkipAnalyzers
/CadastroDespesa.Api/obj/Debug/net8.0/CadastroDespesa.Api.csproj.CoreCompileInputs.cache
/CadastroDespesa.Api/obj/Debug/net8.0/CadastroDespesa.Api.csproj.FileListAbsolute.txt
/CadastroDespesa.Api/obj/Debug/net8.0/CadastroDespesa.Api.GeneratedMSBuildEditorConfig.editorconfig
/CadastroDespesa.Api/obj/Debug/net8.0/CadastroDespesa.Api.genruntimeconfig.cache
/CadastroDespesa.Api/obj/Debug/net8.0/CadastroDespesa.Api.MvcApplicationPartsAssemblyInfo.cache
/CadastroDespesa.Api/obj/Debug/net8.0/CadastroDespesa.Api.MvcApplicationPartsAssemblyInfo.cs
/CadastroDespesa.Api/obj/Debug/net8.0/CadastroDespesa.Api.sourcelink.json
/CadastroDespesa.Api/obj/Debug/net8.0/staticwebassets.build.json
/CadastroDespesa.Api/obj/CadastroDespesa.Api.csproj.nuget.dgspec.json
/CadastroDespesa.Api/obj/CadastroDespesa.Api.csproj.nuget.g.props
/CadastroDespesa.Api/obj/CadastroDespesa.Api.csproj.nuget.g.targets
/CadastroDespesa.Api/obj/project.assets.json
/CadastroDespesa.Api/obj/project.nuget.cache
/CadastroDespesa.Api/CadastroDespesa.Api.csproj.user
*.v2
/.vs/CadastroDespesa/v17/DocumentLayout.backup.json
/.vs/ProjectEvaluation/cadastrodespesa.metadata.v9.bin
/.vs/ProjectEvaluation/cadastrodespesa.projects.v9.bin
/.vs/ProjectEvaluation/cadastrodespesa.strings.v9.bin
/CadastroDespesa.Api/obj/Container
/CadastroDespesa.Test/bin/Debug/net8.0
/.vs/CadastroDespesa/v17/TestStore/0/testlog.manifest
/.vs/CadastroDespesa/v17/TestStore/0/000.testlog
/CadastroDespesa.Teste/TestResults/cceb4a01-17b0-4245-a564-62451866499d/coverage-report
/CadastroDespesa.Teste/TestResults/cceb4a01-17b0-4245-a564-62451866499d
/CadastroDespesa.Teste/bin/Debug/net8.0/CadastroDespesa.Teste.deps.json
/CadastroDespesa.Teste/obj/CadastroDespesa.Teste.csproj.nuget.dgspec.json
/CadastroDespesa.Teste/obj/CadastroDespesa.Teste.csproj.nuget.g.targets
/CadastroDespesa.Teste/obj/project.assets.json
/CadastroDespesa.Teste/obj/project.nuget.cache
/CadastroDespesa.Teste/obj/Debug/net8.0/CadastroDespesa.Teste.AssemblyInfo.cs
/CadastroDespesa.Teste/obj/Debug/net8.0/CadastroDespesa.Teste.AssemblyInfoInputs.cache
/CadastroDespesa.Teste/obj/Debug/net8.0/CadastroDespesa.Teste.assets.cache
/CadastroDespesa.Teste/obj/Debug/net8.0/CadastroDespesa.Teste.csproj.AssemblyReference.cache
/CadastroDespesa.Teste/obj/Debug/net8.0/CadastroDespesa.Teste.sourcelink.json
*.testlog
/CadastroDespesa.Teste/obj/Debug/net8.0/CadastroDespesa.Teste.csproj.CoreCompileInputs.cache
